@import "tailwindcss";

:root {
    --font-inter: 'Inter', sans-serif;
    --font-merriweather: 'Merriweather', serif;
}

@theme {
    --color-main: #009688;
    --color-buttonHover : rgba(0, 150, 136, 0.5);
    --color-bg: #F5F5F5;
    --color-black: #333333;
    --color-gray: #C6C6C6;
    --color-error: #D31F1A;
    --color-success: #4CAF50;
    --breakpoint-3xl: 105rem;
}

.title-font {
    font-family: var(--font-merriweather);
}

.main-font {
    font-family: var(--font-inter);
}

.btn-primary{
    border-radius: 8px;
    text-align: center;
    font-size: x-large;
    padding: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: var(--font-merriweather);
    transition: all 0.3s ease;
}

.btn-primary:hover{
    box-shadow: inset 0 2px 8px /*rgba(0, 0, 0, 0.2)*/ var(--color-buttonHover);
    transition: all 0.3s ease;
}

h1, h2 ,h3{
    font-family: var(--font-merriweather);
    font-size: 1.75rem;
}

body {
    font-family: var(--font-inter);
}

strong:hover{
    transition: all 0.3s ease;
    color: var(--color-main);
}

strong{
    transition: all 0.8s ease;
}

.img-logo{
    opacity: 0;
    transition: all 1.5s ease;
}

.img-logo:hover{
    opacity: 1;
    transition: all 1.5s ease;
}

.title-effect{
    color: black;
    transition: all 0.3s ease;
}

.title-effect:hover{
    color: var(--color-main);
    transition: all 0.3s ease;
}

.input-form{
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-gray);
    border-radius: 8px;
    font-size: 1.25rem;
    padding: 3px;
}

.label-form{
    font-size: 1.25rem;
}

.div-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2rem;
    margin-left: 2rem;
}

.btn-project{
    background-color: var(--color-main);
    border-radius: 8px;
    border: 2px solid var(--color-black);
    color: white;
}

.board{
    background-color: var(--color-main);
    border-radius: 8px;
    border: 2px solid var(--color-black);
    margin: 1rem;
}

.actions{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.group:hover .actions{
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
    visibility: visible;
}

/*BREAKPOINT MD*/
@media (min-width: 768px) {
    .div-form {
        margin-right: 12rem;
        margin-left: 12rem;
    }
    .board{
        margin: 1.5rem;
    }
}

/*BREAKPOINT XL*/
@media (min-width: 1280px) {
    .div-form {
        margin-right: 25rem;
        margin-left: 25rem;
    }
}

/*BREAKPOINT 2XL*/
@media (min-width: 1536px) {
    .div-form {
        margin-right: 35rem;
        margin-left: 35rem;
    }
    .board{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}